<div class="navbar-wagon">
  <h1>Cocktails</h1><i class="fas fa-cocktail"></i>
  <p><%= link_to "Back to the list", cocktails_path, class: 'btn btn-primary'%></p>
</div>

<div class="container form-container">
  <h1>Create a cocktail</h1>
  <%= simple_form_for @cocktail do |f| %>
    <%= f.input :name %>
    <%= f.input :cocktail_image_url %>
    <%= f.button :submit %>
  <% end %>
</div>


